<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
        <link href="/stylesheets/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="dashboard">EduScoreTracker</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Function</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Function
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <% if ( user.userType === 'teacher' ) { %>
                                        <a class="nav-link" onclick="showForm('sessionForm')">Create Session</a>
                                        <% } else { %>
                                            <!-- <a class="nav-link" href="">View Result</a> -->
                                        <% } %>
                                        <a class="nav-link" onclick="showForm('viewForm')">View Result</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.ejs">Login</a>
                                            <a class="nav-link" href="register.ejs">Register</a>
                                            <a class="nav-link" href="password.ejs">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.ejs">401 Page</a>
                                            <a class="nav-link" href="404.ejs">404 Page</a>
                                            <a class="nav-link" href="500.ejs">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="charts.ejs">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Charts
                            </a>
                            <a class="nav-link" href="tables.ejs">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tables
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <%= user.firstName +" "+user.lastName %>
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <% if (typeof messages !== 'undefined' && messages.length > 0) { %>
                        <div align="center" class="alert <%= messages[1] ? 'alert-danger' : 'alert-success' %>">
                            <%= messages[0] %>
                        </div>
                    <% } %>
                
                    <% if (user.userType === "teacher") {%>
                        <div id="sessionForm" style="display: none;">
                            <div class="container mt-5">
                                <h1 class="mt-4"></h1>
                                <ol class="breadcrumb mb-4">
                                    <li class="breadcrumb-item active"></li>
                                </ol>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <i class="fas fa-plus-circle me-1"></i>
                                                Create Session
                                            </div>
                                            <div class="card-body">
                                                <div class="mb-3">
                                                    <label for="sessionName" class="form-label">Session Name:</label>
                                                    <input type="text" class="form-control" id="sessionNameInput" required>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="studentEmail" class="form-label">Student Email:</label>
                                                    <input type="email" class="form-control" id="studentEmail" required>
                                                </div>
                                                <button type="button" class="btn btn-primary" onclick="addStudent('<%= user.Email %>')">Add Student</button>
                                                <button type="button" class="btn btn-success" onclick="createSession()">Create Session</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Student Names Input Boxes -->
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-table me-1"></i>
                                        Session Participants
                                    </div>
                                    <div class="card-body">
                                        <form id="createSessionForm" action="/users/createSession" method="post">
                                            <input type="text" id="sessionName" name="sessionName" value="" hidden>
                                            <div id="participantInputs">
                                                <!-- Student email input boxes will be dynamically added here -->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                        <div class="container mt-5" id="mainForm">
                            <ul class="nav nav-tabs" id="testTabs" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="createTest-tab" data-bs-toggle="tab" href="#createTest" role="tab" aria-controls="createTest" aria-selected="true">Create Test</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="sessionDetails-tab" data-bs-toggle="tab" href="#sessionDetails" role="tab" aria-controls="sessionDetails" aria-selected="false">Session Details</a>
                                </li>
                            </ul>
                        
                            <div class="tab-content mt-2">
                                <!-- Create Test Tab -->
                                <div class="tab-pane fade show active" id="createTest" role="tabpanel" aria-labelledby="createTest-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            Create Test
                                        </div>
                                        <div class="card-body">
                                            <!-- Your test creation form goes here -->
                                                <div class="form-group">
                                                    <label for="sessionSelect">Select Session:</label>
                                                    <% if (typeof session !== 'undefined' && session.length > 0) { %>
                                                        <select class="form-control" id="sessionSelect" required>
                                                            <% for (s of session) { %>
                                                                <option value="<%= s._id %>"><%= s.sessionName %></option>
                                                            <% } %>
                                                        </select>
                                                    <% } else { %>
                                                        Session not Found
                                                    <% } %>
                                                </div>
                                        
                                                <div class="form-group">
                                                    <label for="testName">Test Name:</label>
                                                    <input type="text" class="form-control" id="testName" placeholder="Enter test name" required>
                                                </div>
                                        
                                                <div class="form-group">
                                                    <label for="question">Question:</label>
                                                    <input type="text" class="form-control" id="question" placeholder="Enter the question">
                                                </div>
                                        
                                                <div class="form-group">
                                                    <label for="options">Options (comma-separated):</label>
                                                    <input type="text" class="form-control" id="options" placeholder="Option 1, Option 2, Option 3, Option 4">
                                                </div>
                                        
                                                <div class="form-group">
                                                    <label for="correctAnswer">Correct Answer:</label>
                                                    <select class="form-control" id="correctAnswer">
                                                        <option value="option1">Option 1</option>
                                                        <option value="option2">Option 2</option>
                                                        <option value="option3">Option 3</option>
                                                        <option value="option4">Option 4</option>
                                                    </select>
                                                </div>
                                
                                                <button type="button" class="btn btn-primary" onclick="addQuestion()">Add Question</button>
                                                <button type="button" class="btn btn-success" onclick="saveTest()">Save Test</button>
                                        </div>
                                     
                        
                                    <!-- Questions Table -->
                                    <div class="card mt-4">
                                        <div class="card-header">
                                            Questions
                                        </div>
                                        <div class="card-body">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>Question</th>
                                                        <th>Options</th>
                                                        <th>Answer</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="questionsTableBody">
                                                    <!-- Questions will be dynamically added here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <!-- Session Details Tab -->
                                <div class="tab-pane fade" id="sessionDetails" role="tabpanel" aria-labelledby="sessionDetails-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            Session Details
                                        </div>
                                        <div class="card-body">
                                            <ul id="sessionList" class="list-group">
                                              <% if (session && session.length > 0) { %>
                                                <% for (const s of session) { %>
                                                  <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    <span><%= `${s.sessionName} - ${s.studentData.map(student => student.Email).join(', ')}` %></span>
                                                    <div class="btn-group" role="group">
                                                      <button class="btn btn-danger btn-sm" onclick="deleteSession('<%= s._id %>')">Delete</button>
                                                    </div>
                                                  </li>
                                                <% } %>
                                              <% } else { %>
                                                <li class="list-group-item">No sessions available</li>
                                              <% } %>
                                            </ul>
                                        </div>                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="container mt-5" style="display: none;" id="viewForm">
                            <h2 class="mb-4">View Results</h2>
                        
                            <!-- Session Selection -->
                            <div class="form-group">
                                <label for="viewSessionSelect">Select Session:</label>
                                <% if (typeof session !== 'undefined' && session.length > 0) { %>
                                    <select class="form-control" id="viewSessionSelect" required>
                                        <% for (s of session) { %>
                                            <option value="<%= s._id %>"><%= s.sessionName %></option>
                                        <% } %>
                                    </select>
                                <% } else { %>
                                    Session not Found
                                <% } %>
                            </div>
                        
                            <!-- Fetch Button -->
                            <!-- <button class="btn btn-primary" id="fetchDataBtn" onclick="fetchData()">Fetch Data</button> -->
                                 
                            <div class="card mt-4">
                                <div class="card-header">
                                    Subject
                                </div>
                                <div class="card-body">
                                    <% if (typeof testsData !== 'undefined' && testsData.length > 0) { %>
                                        <%= testsData[0].topTwoScores[0].subject %>
                                    <% } %>
                                </div>
                            </div>

                            <div class="card mt-4">
                                <div class="card-header">
                                    Participant Name
                                </div>
                                <div class="card-body">
                                    <% if (typeof testsData !== 'undefined' && testsData.length > 0) { %>
                                        <% for (test of testsData) { %>  
                                          <% if (test.topTwoScores && test.topTwoScores.length > 0) { %>
                                            <% for (let i = 0; i < test.topTwoScores.length; i++) { %>
                                              <%= test.topTwoScores[i].student.fname +" "+ test.topTwoScores[i].student.lname %>
                                              <br>
                                            <% } %>
                                          <% } else { %>
                                            No top scores available for this test.
                                          <% } %>
                                        <% } %>
                                      <% } %>
                                </div>
                            </div>
                        
                            <!-- Top Scorers -->
                            <div class="card mt-4">
                                <div class="card-header">
                                    Top Scorers
                                </div>
                                <div class="card-body">
                                    <!-- Display top scorers here for the selected test -->
                                    <% if (typeof testsData !== 'undefined' && testsData.length > 0) { %>
                                        <% for (test of testsData) { %>  
                                          <% if (test.topTwoScores && test.topTwoScores.length > 0) { %>
                                            <% for (let i = 0; i < test.topTwoScores.length; i++) { %>
                                              <%= test.topTwoScores[i].student.fname +" "+ test.topTwoScores[i].student.lname +" - "+test.topTwoScores[i].Score %>
                                              <br>
                                            <% } %>
                                          <% } else { %>
                                            No top scores available for this test.
                                          <% } %>
                                        <% } %>
                                    <% } %>
                                      
                                </div>
                            </div>
                        
                            <!-- Average Score -->
                            <div class="card mt-4">
                                <div class="card-header">
                                    Average Score
                                </div>
                                <div class="card-body">
                                    <% if (typeof testsData !== 'undefined' && testsData.length > 0) { %>
                                        <%= testsData[0].averageScore %>
                                    <% } %>
                                </div>
                            </div>
                        </div>                       
                    <% } else { %>
                        <div class="container mt-5" id="mainForm">
                            <h2>Select Test</h2>
                            
                            <div class="mb-3">
                                <label for="testSelect" class="form-label">Choose a Test:</label>
                                <% if (typeof tests !== 'undefined' && tests.length > 0) { %>
                                    <select class="form-control" id="testSelect" name="testSelect" onchange="toggleQuestions(this.value)">
                                        <option value="0">Select Test</option>
                                        <% for (test of tests) { %>
                                            <option value="<%= test._id %>"><%= test.subject %></option>
                                        <% } %>
                                    </select>
                                <% } else { %>
                                    <p class="text-danger">Test Not Found</p>
                                <% } %>
                            </div>
                        
                            <!-- Your EJS Template -->
                            <% if (typeof tests !== 'undefined' && tests.length > 0) { %>
                            <form id="questionsForm" action="/users/submitTest" method="post" style="display: none;">
                                <input type="text" id="testId" name="testId" value="" hidden>
                                <% for (test of tests) { %>
                                    <% for (let i = 0; i < test.questions.length; i++) { %>
                                        <div id="question<%= i + 1 %>-test1" class="question mt-4">
                                            <h4>Question <%= i + 1 %>:</h4>
                                            <p><%= test.questions[i].question %></p>

                                            <% for (let j = 0; j < Object.keys(test.questions[i].options).length; j++) { %>
                                                <div class="form-check">
                                                    <input type="radio" name="q<%= i + 1 %>" class="form-check-input" value="<%= Object.keys(test.questions[i].options)[j] %>">
                                                    <label class="form-check-label"> <%= Object.values(test.questions[i].options)[j] %> </label>
                                                </div>
                                            <% } %>
                                        </div>
                                    <% } %>
                                    
                                    <button type="submit" class="btn btn-primary mt-3">Submit Test</button>
                                <% } %>
                            </form>
                            <% } else { %>
                                <p class="text-danger mt-3">No Tests Available</p>
                            <% } %>
                        </div>
                        
                        <div class="container mt-5" id="viewForm" style="display: none;">
                            <h2>Scores</h2>
                        
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Subject Name</th>
                                        <th scope="col">Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row"></th>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    <% } %>
                </main>
                
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/javascripts/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/javascripts/assets/demo/chart-area-demo.js"></script>
        <script src="/javascripts/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="/javascripts/datatables-simple-demo.js"></script>
    </body>
</html>
